---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button';
import GetAlpr from '../components/GetAlpr.astro'



---



<Layout title="Welcome to Astro.">
<div id="demo">
<h2>The XMLHttpRequest Object</h2>
<button type="button" onclick="loadDoc()">Change Content</button>
</div>



<script src="/js/main.js" async></script>

	<GetAlpr/>
</Layout>

